@charset "UTF-8";

#title{
	font-size:30px;
	color:orange;
	margin-left:40px;
}
#del_box{
	overflow:hidden;
	width:90%;
	margin:0 auto;
	border-bottom:1px #DCDCDC solid;
}
#del_left{
	float:left;
	width:50%;
}
#del_right{
	width:50%;
	height:200px;
	margin-left:50%;
}
.del_title{
	line-height:30px;
	color:#4682B4;
	font-size:30px;
	width:100%;
	font-family: 'PT Sans Narrow', sans-serif;
}
.del_info{
	width:100%;
	margin-top:20px;
	font-size:17px;
	color:#474747;
	font-family: 'PT Sans Narrow', sans-serif;
}
#payment_info{
	width:90%;
	margin:20px 5% 20px 5%;
}