@charset "UTF-8";

#describe_box{
	width:90%;
	margin:40px auto;
	overflow:hidden;
}
#photo_box{
	margin-right:350px;
	text-align:center;
}
#photo_box img{
	width:70%;
	margin-top:20px;
}
#info_box{
	width:350px;
	float:right;
	text-align:center;
}
#prodname{
	width:100%;
	color:#4682B4;
	font-size:20px;
}
#price{
	font-size:25px;
	margin-top:10px;
	color:#00008B;
}
#oldprice{
	text-decoration:line-through;
	color:red;
	font-size:19px;
}
#discount{
	margin:10px auto 0 auto;
	color:#4682B4;
	font-size:18px;
}
#mini_photo{
	width:100%;
	text-align:center;
}
#mini_photo img{
	width:50px;
	margin-right:5px;
	cursor:pointer;
}
#describe{
	width:100%;
	margin-top:20px;
	color:#474747;
	font-family: 'Ubuntu', sans-serif;
}
#reviews_box{
	width:90%;
	margin:40px auto;
	overflow:hidden;
}
#rev_title{
	font-size:19px;
	height:30px;
	color:#4682B4;
	border-bottom:1px #D3D3D3 solid;
}
.review_block{
	width:100%;
	margin-top:20px;
	margin-bottom:40px;
}
#login_rev{
	color:white;
	background:#4682B4;
	height:30px;
	line-height:30px;
	width:200px;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
}
#login_rev:hover{
	background:#4169E0;
}
.username{
	float:left;
	height:150px;
	width:150px;
	text-align:center;
}
.review{
	width:700px;
	margin-left:180px;
}
.name{
	color:#00008B;
}
.date{
	color:#808080;
	font-size:14px;
	margin-top:5px;
}
.worth{
	width:100%;
	margin:0px;
	padding:0;
}
.worth_title{
	font-weight:bold;
}
.worth_text{
	width:100%;
	margin-top:5px;
}
#buyhref{
	text-decoration:none;
}
#buybutton{
	 text-align:center;
	width:150px;
	height:40px;
	line-height:40px;
	color:white;
	font-size:20px;
	font-family: 'PT Sans Narrow', sans-serif;
	background:/*#F4A460*/#6495ED;
	margin:30px auto 10px auto;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	 user-select: none;
	 cursor:pointer;
	 border-radius:4px;
}
#buybutton:hover{
	background:#309bb6;
}
#addbutton{
	text-align:center;
	width:150px;
	height:40px;
	line-height:40px;
	color:white;
	font-size:20px;
	font-family: 'PT Sans Narrow', sans-serif;
	background:#309bb6;
	margin:30px auto 10px auto;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	 user-select: none;
	 cursor:pointer;
	 border-radius:4px;
}
.active{
	border:1px silver solid;
}
#send_rev_box{
	display:none;
	width:100%;
}
#rev_form{
	margin-top:5px;
	width:600px;
	margin-bottom:20px;
	margin-left:180px;
}
#rev_form textarea{
	height:50px;
	max-height:80px;
	width:600px;
	max-width:600px;
}
#rev_form input{
	float:right;
	margin-top:5px;
}
#hide{
	float:right;
	font-size:13px;
	line-height:25px;
	margin-right:30px;
	color:#4682B4;
	text-decoration:underline;
	cursor:pointer;
}
.title{
	margin:5px 0;
}